.form-container textarea {
  width: 100%;
  height: 150px;
  padding: 25px;
  margin-bottom: 10px;
}
.review-rating span {
  font-size: 18px;
}

span.review-rating {
  margin-bottom: 10px;
}
.review-form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 550px;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
