.video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #00000087;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    padding: 10px 0;
}
.video-modal-container {
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 660px;
}
.video-modal-container video {
    width: 100%;
}
