header {
    background-color: #f3f3f3;
    z-index: 1000;
    height: 60px;
}
header.dark-header {
    position: sticky;
    top: 0;
    background-color: #222;
}
.dark-header .navbar-brand {
    color: #ededed;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-brand {
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2px;
}
.login-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #959595;
    padding: 0 15px !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    border-color: transparent !important;
}
.navbar-light {
    background-color: #f3f3f3;
}
.navbar-dark {
    background-color: #222;
}
