table.my-orders-table {
  width: 100%;
}
table.my-orders-table tr {
  border-bottom: 1px solid #ddd;
}
table.my-orders-table tr th {
  padding: 10px 0;
}
table.my-orders-table tr th:last-child {
  text-align: center;
}
table.my-orders-table tr td {
  height: 60px;
}
table.my-orders-table img {
  height: 50px;
}
.order-table-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.oto-btn-cancel svg {
  font-size: 18px;
  color: #ff4c4c;
}

.oto-btn-cancel {
  background-color: #ffdfdf;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.oto-btn-cancel svg {
  font-size: 22px;
}

.oto-pay-btn {
  background-color: green;
  height: 30px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
}
.my-order-loading-cotainer {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-orders-found {
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
}
